name: tsapp
services:
  myapp:
    build:
      context: .
      dockerfile: dockerfile
    container_name: myapp
    ports:
      - "8080:3000"
  db:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_USER: "postgres"
      POSTGRES_DB: "postgres"

    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
