name: tsapp
services:
  
  db:
   image: postgres:16
   container_name: postgres
   environment:
    POSTGRES_PASSWORD: "postgres"
    POSTGRES_USER: "postgres"
    POSTGRES_DB: "postgres"
   ports:
    - "5431:5432"
   volumes:
     - postgres_data:/var/lib/postgresql/data  

volumes:
    postgres_data: